{% extends 'base.html' %}
  
{% block content %}

Добро пожаловать в {{ title }}<br>
Тут собрано {{ books|length }} книг из моей личной коллекции.

<table border="1">
    {% for book in books %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ book.title }}</td>
	<td>
		{% if book.cover %}
		<img src="{{ book.cover.url }}"></img>
		{% endif %}
	</td>
        <td>{{ book.ISBN }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.year_release }}</td>
        <td>{{ book.author.full_name }}</td>
        <td>{{ book.author.country }}</td>
	<td>{{ book.copy_count }}</td>
	<td>
		<form action="/index/book_increment/" method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    <input type="hidden" name="id" value="{{book.id}}" />
		    <input type="submit" value="Увеличить кол-во" {% if not user.is_authenticated %}disabled{% endif %}/>
		</form>
		<form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
		    {% csrf_token %}
		    <input type="hidden" name="id" value="{{book.id}}" />
		    <input type="submit" value="Уменьшить кол-во" {% if not user.is_authenticated %}disabled{% endif %}/>
		</form>
		<form action="{% url 'book-update' book.pk %}" method="get">
		    <input type="submit" value="Изменить" {% if not user.is_staff %}disabled{% endif %}/>
		</form>
		<form action="{% url 'book-delete' book.pk %}" method="get">
		    <input type="submit" value="Удалить" {% if not user.is_staff %}disabled{% endif %}/>
		</form>
	</td>
    </tr>
    {% endfor %}
</table>
{% for x in range %}
{{x}}
{% endfor %}
{% endblock %}
